.container {
  width: 100%;
}

.subContainer1 {
  width: (100% - 40px);
  height: 88px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.innerContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  gap: 20px;
}

.copyright {
  color: rgb(58, 58, 58);
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.subContainer2 {
  height: 120px;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.innerContainer2 {
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
  width: 100%;
  gap: 50px;
}

.socialContainer {
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  gap: 6px;
}

.socialIcon {
  width: 18px;
  height: 18px;
}

.tabContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.tab {
  text-decoration: none;
  transition: all 0.2s linear;
  font-size: 16px;
  color: rgb(58, 58, 58);
}

@media (max-width: 921px) {
  .tabContainer {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 544px) {
  .subContainer1 {
    height: max-content;
    padding: 50px 0;
  }
  .innerContainer1 {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .tabContainer {
    flex-direction: column;
  }
  .subContainer2 {
    height: max-content;
  }
  .innerContainer2 {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    align-items: center;
    padding: 20px 0;
    height: max-content;
    gap: 10px;
  }
  .socialContainer {
    justify-content: center;
  }
  .copyright {
    justify-content: center;
  }
}
