.container {
  width: 100%;
}

.subContainer1 {
  width: 100%;
  height: 88px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  gap: 20px;
}

.copyright {
  color: rgb(58, 58, 58);
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.subContainer2 {
  width: 100%;
  height: 120px;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
}

.innerContainer2 {
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
  width: 100%;
  gap: 50px;
}

.socialContainer {
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  gap: 6px;
}

.socialIcon {
  width: 18px;
  height: 18px;
}

.tabContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.tab {
  text-decoration: none;
  transition: all 0.2s linear;
  font-size: 16px;
  color: rgb(58, 58, 58);
}
