.container {
  width: calc(100%-20px);
  padding: 100px 10px;
  font-family: "Montserrat", Sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 45px;
  line-height: 54px;
  color: rgb(58, 58, 58);
}

.subContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 32px;
  grid-template-rows: max-content max-content;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.blockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockTitle {
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 36px;
  color: rgb(42, 60, 187);
}

.blockDescription {
  color: rgba(26, 26, 26, 0.75);
  font-size: 16px;
  line-height: 27px;
}

.image {
  width: 324px;
  height: 210px;
  position: relative;
}

@media (max-width: 767px) {
  .subContainer {
    display: flex;
    flex-direction: column;
  }
  .blockDescription {
    text-align: center;
  }
}
