.container {
  display: flex;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.subContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 24px;
}

.blockContainer {
  font-family: "Montserrat", Sans-serif;
  display: flex;
  gap: 16px;
}

.blockSubContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 24px;
  color: rgb(42, 60, 187);
}

.description {
  width: 100%;
  text-wrap: wrap;
  color: rgba(26, 26, 26, 0.75);
  font-size: 16px;
  line-height: 28px;
}

.icon {
  width: 30px;
  height: 30px;
}

.videoContainer {
  flex: 1;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }
  .subContainer {
    flex: none;
  }
  .videoContainer {
    flex: none;
    width: calc(100% - 40px);
    position: relative;
    padding-top: 56.25%;
    height: 0;
  }
  .videoContainer > div {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .videoContainer > div {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .videoContainer > div > iframe {
    height: 100%;
  }
  .blockContainer {
    flex-direction: column;
    align-items: center;
  }
  .blockSubContainer {
    align-items: center;
  }
}
